## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [36]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
0,0,Muros,ES,42.7762,-9.0603,41.0,82,96,overcast clouds
1,1,Hasaki,JP,35.7333,140.8333,66.0,29,75,broken clouds
2,2,Hilo,US,19.7297,-155.0900,73.4,73,90,overcast clouds
3,3,Hirara,JP,24.8000,125.2833,71.6,53,40,scattered clouds
4,4,Olenegorsk,RU,68.1500,33.3000,36.1,89,81,broken clouds

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
# # Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [38]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
pref_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Current Description
1,1,Hasaki,JP,35.7333,140.8333,66.00,29,75,broken clouds
2,2,Hilo,US,19.7297,-155.0900,73.40,73,90,overcast clouds
3,3,Hirara,JP,24.8000,125.2833,71.60,53,40,scattered clouds
5,5,Yulara,AU,-25.2406,130.9889,75.20,20,0,clear sky
10,10,Teshie,GH,5.5836,-0.1072,78.80,78,0,clear sky
11,11,Boende,CD,-0.2167,20.8667,73.63,92,100,overcast clouds
12,12,Cape Town,ZA,-33.9258,18.4232,73.99,48,0,clear sky
17,17,Codrington,AU,-38.2667,141.9667,63.18,63,76,broken clouds
20,20,Port Elizabeth,ZA,-33.9180,25.5701,62.60,67,0,clear sky
22,22,Busselton,AU,-33.6500,115.3333,77.00,42,0,clear sky

In [39]:
# 4a. Determine if there are any empty rows.
pref_cities_df.count()

City_ID                281
City                   281
Country                278
Lat                    281
Lng                    281
Max Temp               281
Humidity               281
Cloudiness             281
Current Description    281
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
pref_cities_clean_df = pref_cities_df.dropna()
pref_cities_clean_df.count()

City_ID                278
City                   278
Country                278
Lat                    278
Lng                    278
Max Temp               278
Humidity               278
Cloudiness             278
Current Description    278
dtype: int64

In [37]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hasaki,JP,66.00,broken clouds,35.7333,140.8333,
2,Hilo,US,73.40,overcast clouds,19.7297,-155.0900,
3,Hirara,JP,71.60,scattered clouds,24.8000,125.2833,
5,Yulara,AU,75.20,clear sky,-25.2406,130.9889,
10,Teshie,GH,78.80,clear sky,5.5836,-0.1072,
11,Boende,CD,73.63,overcast clouds,-0.2167,20.8667,
12,Cape Town,ZA,73.99,clear sky,-33.9258,18.4232,
17,Codrington,AU,63.18,broken clouds,-38.2667,141.9667,
20,Port Elizabeth,ZA,62.60,clear sky,-33.9180,25.5701,
22,Busselton,AU,77.00,clear sky,-33.6500,115.3333,

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping')

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [42]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = hotel_df.dropna()

In [43]:
# 8a. Create the output File (CSV)
hotel_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(hotel_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))