In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_vacation.csv file. 
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hilo,US,73.40,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,3,Hirara,JP,71.60,scattered clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
2,5,Yulara,AU,75.20,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
3,6,Banda Aceh,ID,85.75,scattered clouds,5.5577,95.3222,Sulthan Hotel International
4,7,Samarai,PG,83.98,broken clouds,-10.6167,150.6667,Nuli Sapi

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))